<h1>Edit Book</h1>
<%= simple_form_for @book , :html => {:multipart=> true } do |f| %>
	<%= f.file_field (:book_img) %>
	<%= select_tag(:category_id, options_for_select(@categories,@book.category.id), :prompt=>'Select Category') %>
	<%= f.input :title, label: 'Title' %>
	<%= f.input :description, label: 'Description' %>
	<%= f.input :author, label: 'Auther' %>
	<%= f.button :submit %>
<% end %>